*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #666666;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

[class*=__title] {
  font-family: "Cal Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 1.2; /* 53/44 */
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Cal Sans";
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2; /* 29/24 */
  color: #121212;
}

.logo__icon {
  width: 28px;
  height: 28px;
  margin-right: 12px;
}

@font-face {
  font-family: "Cal Sans";
  src: url("../././fonts/CalSans-SemiBold.woff2") format("woff2"), url("../././fonts/CalSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 45px;
}

.menu-container {
  margin-left: 131px;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
}

.menu__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  line-height: 1.5; /* 24/16 */
  color: rgba(18, 18, 18, 0.4);
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}
.menu__link:hover, .menu__link:focus {
  color: rgba(7, 7, 7, 0.6);
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__button {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .menu__button {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .menu__button.is-open span {
    width: 0;
  }
  .menu__button span, .menu__button::before, .menu__button::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .menu__button::before {
    top: 0;
  }
  .menu__button::after {
    bottom: 0;
  }
  .menu__button span {
    top: calc(50% - 1px);
  }
  .menu__button.is-open::before {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu__button.is-open::after {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}/*# sourceMappingURL=main.css.map */